
    body{
        margin: 0;
        padding: 0;
        top: 0;
    }
    .main{
    width: 100%;
    height: 100vh;
    color: rgb(187, 244, 248);           
    background-image: url(https://media0.giphy.com/media/doXBzUFJRxpaUbuaqz/giphy.gif?cid=6c09b95258g5qwl44yzq0vs5fgnqtmr7sr7zpj8kvjhp9yef&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    }
    .sub{
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span,p {
    display: inline-block;
    }
    button{
    background: #000000;
    color: #6fc5cf;
    border-radius: 10px;
    padding: 10px;
    border: .1px solid #00a1d1;
    font-size: 14px;
    font-family: cursive;
    font-weight: 900;
    cursor: pointer;
    box-shadow: -2px -2px 6px #82d4f3;
    }
    button:hover {
        border: .1px solid #ffffff;
        box-shadow: -2px -2px 6px white;
        color: #ffffff;
    }

  #loading-overlay {
  width: 150px;
  height: 50px;
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(1, 134, 46);
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
    }
    #loading-overlay.active {
     display: block;
    }


    #gameList span{
        width: 100%;
        padding: 10px;
    }